.noteListContainer{
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.6rem;
    cursor: pointer;
    overflow-y: scroll;
    scrollbar-width:thin;
    scrollbar-color: red;
    height: 100vh;
    width: 400px;
    
 }
 
 .noteList{
     width: 90%;
     height: 80%;
     display: flex;
     flex-direction: column;
     gap: .2rem;
     
 }
 
 .noteListCreateBtn{
     position: relative;
     /* overflow: hidden; */
 }   
 
 .createBtn{
     height: 70px;
     width: 70px;
     padding-top: 1rem;
     text-align: center;
     background-color: #16008B;
     border-radius: 100%;
     color: white;
     font-size: 30px;
     position: fixed;   
     bottom: 130px;
     left: 260px;
 }