.singleTextBox{
    height: 25%;
    width: 94%;
    margin: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
    background-color: white;
    border-radius: 3px;
    box-shadow: 0px 0px 10px 1px #00000040;
    padding: .5rem;
    display: flex;
    flex-direction: column;
    
}

.finalText{
    font-size: 14px;
    text-align: left;
    width: 95%;
    height: 60%;
    margin: auto;
   
}
.dateTime{
    font-size: 13px;
    text-align: right;
    width: 95%;
    height: 10%;
    margin: auto;
}
.dot{
    margin-top: 30px;
   font-size: 20px;
}